html, body {
  width: 300px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.ok:hover {
  background-color: #CFF2F2;
}

.ok {
 background-color: #E5F2F2;
}
